---
import Layout from "../components/Layout.astro";
---

<Layout>
      <!-- full-height-wrap -->
      <div class="full-height-wrap">
        <!-- hero-wrap  -->
        <div class="hero-wrap">
            <!--hero-title -->
            <div class="slider-mask"></div>
            <div class="overlay"></div>
            <div class="hero-title almt">
                <h3>STyAs</h3>
                <div class="clearfix"></div>
                <div class="separator trsp-separator"></div>
                <h2>Profesionales de la Arquitectura, Real Estate y Construcción</h2>
                <a href="about" class="ajax btn trsp-btn">Conocénos</a>
            </div>
            <!--hero-title end-->
            <!--slideshow-holder -->
            <div class="slideshow-holder">
                <div class="slideshow-item owl-carousel">
                    <!-- 1 -->
                    <div class="item">
                        <div class="bg" data-bg="images/bg/home_1.png"></div>
                    </div>
                    <!-- 2 -->
                    <div class="item">
                        <div class="bg" data-bg="images/bg/home_2.png"></div>
                    </div>
                    <!-- 3 -->
                    <div class="item">
                        <div class="bg" data-bg="images/bg/home_3.png"></div>
                    </div>
                </div>
            </div>
            <!--slideshow-holder end -->
        </div>
        <!-- hero-wrap  end-->
    </div>
    <!-- full-height-wrap end -->
</Layout>