<!--=============== header ===============-->
<!--=============== header ===============-->
<header class="main-header">
    <div class="scroll-holder">
        <!-- logo-->
        <div class="logo-holder">
            <a href="./" class="ajax"><img src="images/logo.png" alt=""></a>
            <p style="font-size: 11px">Sergio Topor y Asociados</p>
            <p style="font-size: 8px; line-height: 12px; margin-top: -5px;">Consultoría, Arquitectura y Project Management</p>
        </div>
        <!-- logo end -->
        <!-- navigation-->
        <div class="nav-holder">
            <nav>
                <ul>
                    <li>
                        <a href="./" class="ajax act-link">Home</a>
                    </li>
                    <li>
                        <a href="about"class="ajax">Nosotros </a>
                        <!-- subnav -->
                        <ul>
                            <li><a href="about#sec1" class="ajax custom-scroll-link">Quienes Somos </a></li>
                            <li><a href="about#sec3" class="ajax custom-scroll-link">Nuestros Destacados</a></li>
                            <li><a href="about#sec4" class="ajax custom-scroll-link">Servicios</a></li>
                        </ul>
                        <!-- subnav end-->
                    </li>
                    <li>
                        <a href="portfolio"  class="ajax">Últimos Proyectos</a>
                        <!-- subnav-->
                        <ul>
                            <li><a href="proyecto_art" class="ajax">Proyecto ART</a></li>
                            <li><a href="proyecto_theone" class="ajax">Proyecto The One</a></li>
                            <li><a href="proyecto_thehub" class="ajax">Hotel The Hub</a></li>
                            <li><a href="proyecto_cincosoles" class="ajax">Barrio Privado Cinco Soles</a></li>
                            <li><a href="proyecto_start" class="ajax">START</a></li>
                            <li><a href="proyecto_hogar" class="ajax">Nuevo Hogar LeDor VaDor</a></li>
                            <li><a href="proyecto_alvear" class="ajax">Hotel Alvear</a></li>
                            <li><a href="proyecto_potosi" class="ajax">Potosi 3940</a></li>
                            <li><a href="proyecto_losarcos" class="ajax">Sanatorio Los Arcos</a></li>
                            <li><a href="proyecto_metro" class="ajax">Metro VI</a></li>
                            <li><a href="proyecto_caballito" class="ajax">Caballito Nuevo</a></li>
                            <li><a href="proyecto_delgado" class="ajax">Delgado 1549</a></li>
                            <li><a href="proyecto_movicom" class="ajax">Movicom Plaza</a></li>
                            <li><a href="proyecto_sinclair" class="ajax">Sinclair 3045</a></li>
                            <li><a href="proyecto_demaria" class="ajax">DEMARÏA</a></li>
                            <li><a href="proyecto_godoycruz" class="ajax">Godoy Cruz</a></li>
                            <li><a href="proyecto_cerviño" class="ajax">Cerviño 4747</a></li>
                        </ul>

                        <!-- subnav end-->
                    </li>
                </ul>
            </nav>
        </div>
        <!-- navigation  end -->
        <!-- header-widget-->
        <div class="header-widget">
            <h3>Info de Contacto</h3>
            <ul class="header-contacts">
                <li><span>Tel</span><a href="tel:+5491134051501">+54 9 11 3405-1501</a></li>
                <li><span>Skype</span><a href="callto://sergiogabriel1962">sergiogabriel1962</a></li>
                <li><span>Mail</span><a href="mailto:sergiotopor@gmail.com">sergiotopor@gmail.com</a></li>
            </ul>
        </div>
        <!-- header-widget end -->
        <!-- header-widget-->
        <div class="header-widget">
            <h3>Nuestras Redes</h3>
            <ul class="header-social">
                <li><a href="https://www.linkedin.com/in/sergio-topor-a1153012" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://plus.google.com/+sergiotopor" target="_blank" ><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
        <!-- header-widget end -->
        <span class="close-menu"><i class="fa fa-times" aria-hidden="true"></i></span>
    </div>
    <!--footer-->
    <div class="header-footer">
        &#169; STyAs 2016  /  Todos los derechos reservados. </br>Developed by Brenda Topor
    </div>
    <!-- footer end -->
</header>
<!-- header end -->